body {
  background-color: #232323;
}

#team {
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.25);
}

#team td {
  height: 75px;
  width: 300px;
  text-align: center;
  font-family: Helvetica, Arial, san-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
  font-size: 24px;
  padding: 0px;
}

#team .title {
  height: 30px;
  font-size: 16px;
}

#team .blue {
  background-color: dodgerblue;
}

#team .red {
  background-color: tomato;
}

#team .green {
  background-color: olive;
}

#team .orange {
  background-color: orange;
}

#team .grey {
  background-color: #686868;
}

.fade {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
}
